$lg: 855px
$md: 660px
$sm: 420px

@media (max-width: $lg)

    .container
        width: 100%
        padding-right: 15px
        padding-left: 15px

    .item

        &__pic
            width: 45%
            height: auto
            margin-right: 45px

@media (min-width: $lg)

    .grid

        &__item
            width: 33.3333%
            padding-bottom: 20px

            &:first-child, 
            &:first-child + .grid__item + .grid__item + .grid__item 
                padding-right: 12px

                .preview__price
                    right: 12px

            &:first-child + .grid__item , 
            &:first-child + .grid__item + .grid__item + .grid__item + .grid__item 
                padding-left: 6px
                padding-right: 6px

                .preview__price
                    right: 6px

            &:first-child + .grid__item + .grid__item, 
            &:first-child + .grid__item + .grid__item + .grid__item + .grid__item + .grid__item 
                padding-left: 12px

                .preview__price
                    right: 0


@media (max-width: $lg)

    .grid
        &__item
            width: 50%
            padding-bottom: 40px

            &:first-child, 
            &:first-child + .grid__item + .grid__item,  
            &:first-child + .grid__item + .grid__item + .grid__item + .grid__item
                padding-right: 20px

                .preview__price
                    text-align: center
                    background-color: rgba(114, 187, 169, .85)
                    left: 0
                    right: 20px

            &:first-child + .grid__item , 
            &:first-child + .grid__item + .grid__item  + .grid__item, 
            &:first-child + .grid__item + .grid__item + .grid__item + .grid__item  + .grid__item
                padding-left: 20px

                .preview__price
                    text-align: center
                    background-color: rgba(114, 187, 169, .85)
                    left: 20px
                    right: 0px


@media (max-width: $md)

    .item

        &__pic
            width: 100%
            margin-right: 0
            float: none




@media (max-width: $sm)

    .grid
        text-align: center

        &__item
            width: 100%
            padding: 20px !important
            display: none

            .preview__price
                left: 20px !important;
                right: 20px !important;

            &:first-child
                display: inline-block

            .preview__price
                text-align: center
                background-color: rgba(114, 187, 169, .85)
                left: 20px
                right: 20px
                bottom: 0

    .slider-left, .slider-right
        display: inline-block